<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Example 2</title>
        <link rel="stylesheet" href="style.css" media="all" />
    </head>
    <body>
        <header class="clearfix">
            <div id="logo">
                <img src="logo-baru.png">
            </div>
            <div id="company">
                <h2 class="name">Viele Laundry</h2>
                <div>Jl. Gunungsari 31 – 33, Surabaya, East Java, Indonesia</div>
                <div>031- 5679813</div>
                <div><a href="mailto:vielelaundry@gmail.com">vielelaundry@gmail.com</a></div>
            </div>
        </header>
    <main>
        <div id="details" class="clearfix">
            <div id="client">
                <div class="to">Detail Pelanggan:</div>
                <h2 class="name">Husein Muhamad</h2>
                <div class="address">Jl. Wonocolo Sepanjang RT 8 RW 3 No. 52</div>
                <div class="email"><a href="#">0877-5263-9514</a></div>
            </div>
            <div id="invoice">
                <h1>NO NOTA #000012</h1>
                <div class="date">Tanggal Pesan: 01/06/2014</div>
                <div class="date"></div>
            </div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th class="desc">DESKRIPSI</th>
                    <th class="unit">HARGA</th>
                    <th class="qty">JUMLAH</th>
                    <th class="total">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="no">01</td>
                    <td class="desc"><h3>Laundry</h3>Celana Pendek</td>
                    <td class="unit">Rp. 12.000</td>
                    <td class="qty">30</td>
                    <td class="total">Rp. 12.000</td>
                </tr>
                <tr>
                    <td class="no">02</td>
                    <td class="desc"><h3>PRESSING</h3>Kemeja</td>
                    <td class="unit">Rp. 12.000</td>
                    <td class="qty">30</td>
                    <td class="total">Rp. 12.000</td>
                </tr>
                <tr>
                    <td class="no">03</td>
                    <td class="desc"><h3>Laundry</h3>Jas</td>
                    <td class="unit">Rp. 12.000</td>
                    <td class="qty">30</td>
                    <td class="total">Rp. 12.000</td>
                </tr>
                <tr>
                    <td class="no">02</td>
                    <td class="desc"><h3>Wet Cleaning</h3>Celana</td>
                    <td class="unit">Rp. 9.000</td>
                    <td class="qty">80</td>
                    <td class="total">Rp. 12.000</td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">SUBTOTAL</td>
                    <td>RP. 35.000</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">BIAYA TAMBAHAN</td>
                    <td>RP. 10.000</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">KEMBALI</td>
                    <td>RP. 55.000</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">GRAND TOTAL</td>
                    <td>RP. 75.000</td>
                </tr>
            </tfoot>
        </table>
        <div id="thanks">Terima kasih!</div>
        <div id="notices">
            <div>PEMBERITAHUAN:</div>
            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
        </div>
    </main>
    <footer>
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>
</body>
</html>